@import 'core';

// prettier-ignore
.cursor {
  &-default { cursor: default; }
  &-pointer { cursor: pointer; }
}

// prettier-ignore
.overflow {
  &-auto { overflow: auto;
    &-x { overflow-x: auto; }
    &-y { overflow-y: auto; }
  }
  &-hidden { overflow: hidden;
    &-x { overflow-x: hidden; }
    &-y { overflow-y: hidden }
  }
  &-scroll { overflow: scroll;
    &-x { overflow-x: scroll; }
    &-y { overflow-y: scroll }
  }
}

// prettier-ignore
.placement {
  &-bottom { bottom: 0; }
  &-right { right: 0; }
  &-left { left: 0; }
  &-top { top: 0; }
}

// prettier-ignore
.break {
  @mixin break() { overflow-wrap: break-word; white-space: normal; word-wrap: break-word; }
  &-all { @include break; word-break: break-all; }
  &-word { @include break; word-break: break-word; }
}

// prettier-ignore
.font {
  @mixin font-inherit() {
    font: inherit { style: inherit; weight: inherit; }
    text: { decoration: inherit; transform: inherit; }
  }
  &-inherit { @include font-inherit;
    &-deep * { @include font-inherit; }
  }
  &-weight-semibold {
    font-weight: $font-weight-semibold !important;
  }
  @each $weight in $font-weights {
    &-weight-#{ $weight } {
      font-weight: $weight !important;
    }
  }
  @each $infix, $size in $font-sizes {
    &-size-#{ $infix } {
      font-size: $size !important;
    }
  }
}

@include helper-classes-by-palette($palette-blue, primary);
@include helper-classes-by-palette($palette-brown, brown);
@include helper-classes-by-palette($palette-gray, secondary);
@include helper-classes-by-palette($palette-green, accent);
@include helper-classes-by-palette($palette-orange, orange);
@include helper-classes-by-palette($palette-red, danger);
@include helper-classes-by-palette($palette-yellow, warning);

// prettier-ignore
.translate {
  &-center { @include translate-center();
    &-x { @include translate-x-center(); }
    &-y { @include translate-y-center(); }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.box-shadow-none {
  box-shadow: none !important;
}

.select-none {
  @include select-none;
}

.border-transparent {
  &.border-bottom,
  &.border-top,
  &.border-right,
  &.border-left {
    border-color: transparent !important;
  }
}
