// Brand Colors
$brown: #776552 !default;
$red: #dc3545 !default;
$orange: #b75b44 !default;
$yellow: #e7b849 !default;
$green: #369c46 !default;
$teal: #449c7b !default;
$cyan: #1b889c !default;
$blue: #0069ff !default;
$indigo: #821cff !default;
$purple: #994dbf !default;
$pink: #cc52c0 !default;
$white: #fff !default;
$gray-50: #eef0f1 !default;
$gray-100: #e7e9ea !default;
$gray-200: #c3c8cc !default;
$gray-300: #9ba3aa !default;
$gray-400: #737e87 !default;
$gray-500: #55626e !default;
$gray-600: #374654 !default;
$gray-700: #313f4d !default;
$gray-800: #2a3743 !default;
$gray-900: #232f3a !default;
$black: #162029 !default;
$gray: $gray-600 !default;

$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $black !default;

$colors: (
  brown: $brown,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  white: $white,
  gray: $gray,
  gray-dark: $gray-800,
  black: $black
);

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);
