@import 'colors';

$palette-blue: (
  50: #e0eeff,
  100: #b3d4ff,
  200: #80b8ff,
  300: #4d9cff,
  400: #2686ff,
  500: #0071ff,
  600: $blue,
  700: #005eff,
  800: #0054ff,
  900: #0042ff,
  A100: #fff,
  A200: #f2f5ff,
  A400: #bfccff,
  A700: #a6b7ff,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-brown: (
  50: #f0edeb,
  100: #d9d3ce,
  200: #bfb6ad,
  300: #a5998c,
  400: #928373,
  500: #7f6d5a,
  600: $brown,
  700: #6c5a48,
  800: #62503f,
  900: #4f3e2e,
  A100: #ffcb9c,
  A200: #ffb069,
  A400: #ff9436,
  A700: #ff871d,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-green: (
  50: #e8f4ea,
  100: #c5e4ca,
  200: #9ed2a6,
  300: #77bf82,
  400: #59b268,
  500: #3ca44d,
  600: $green,
  700: #2e923d,
  800: #278934,
  900: #1a7825,
  A100: #b2ffb9,
  A200: #7fff8b,
  A400: #4cff5d,
  A700: #32ff46,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-orange: (
  50: #f7ece9,
  100: #ebd0c9,
  200: #deb1a5,
  300: #d19281,
  400: #c77a66,
  500: #bd634b,
  600: $orange,
  700: #ae513b,
  800: #a64733,
  900: #983523,
  A100: #ffdcd6,
  A200: #ffb0a3,
  A400: #ff8470,
  A700: #ff6e57,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-red: (
  100: #f5c9c9,
  200: #eea6a6,
  300: #e78282,
  400: #e26767,
  50: #fbeaea,
  500: #dd4c4c,
  600: $red,
  700: #d43c3c,
  800: #cf3333,
  900: #c72424,
  A100: #fff,
  A200: #ffcfcf,
  A400: #ff9c9c,
  A700: #ff8282,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white
  )
);

$palette-gray: (
  50: $gray-50,
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900,
  A100: #6db6ff,
  A200: #6db6ff,
  A400: #0783ff,
  A700: #0076ec,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-white: (
  50: $white,
  100: $white,
  200: $white,
  300: $white,
  400: $white,
  500: $white,
  600: $white,
  700: $white,
  800: $white,
  900: $white,
  A100: $white,
  A200: $white,
  A400: $white,
  A700: $white,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$palette-yellow: (
  50: #fcf6e9,
  100: #f8eac8,
  200: #f3dca4,
  300: #eecd80,
  400: #ebc364,
  500: $yellow,
  600: #e4b142,
  700: #e0a839,
  800: #dda031,
  900: #d79121,
  A100: #fff,
  A200: #fff1dc,
  A400: #ffdca9,
  A700: #ffd290,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);
