$font-family-base: Montserrat, sans-serif !default;

$font-weight-base: 400;
$font-weight-normal: $font-weight-base;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$font-size-base: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.8rem;
$font-size-md: 0.875rem;
$font-size-lg: $font-size-base;
$font-size-xl: 1.15;

$font-sizes: (
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl,
  base: $font-size-base
);
