<h1 class="h1 text-center">Angular Reactive Form Example</h1>

<div class="card shadow rounded">
  <div class="card-header">Angular Reactive Form with <i>FormGroup</i>, <i>FormControl</i> and <i>FormBuilder</i></div>

  <div class="card-body">
    <h2 class="card-title text-center">There are two interconnected fields</h2>

    <form [formGroup]="reactiveForm">
      <div class="form-group">
        <label for="A">Field <b>A</b></label>

        <input class="form-control"
               formControlName="A"
               id="A"
               placeholder="A"
               type="text">
      </div>

      <div class="form-group">
        <label for="B">Field <b>B</b></label>

        <input class="form-control"
               formControlName="B"
               id="B"
               placeholder="B"
               type="text">
      </div>
    </form>

    <button (click)="erase()"
            class="btn btn-block btn-success">Erase</button>
  </div>
</div>


