<div class="row">
  <div class="col-sm"></div>

  <div class="col-sm">
    <header class="mb-5"
            role="banner">
      <div class="h3 text-center">Angular Practice</div>

      <nav class="navbar navbar-light bg-light d-flex align-content-center justify-content-center">
        <a #home="routerLinkActive"
           [ngClass]="home.isActive ? 'btn-primary' : 'btn-outline-primary'"
           [routerLinkActiveOptions]="{ exact: true }"
           class="navbar-brand btn mx-2"
           routerLink="/home"
           routerLinkActive="active">Angular Practice</a>

        <a #forms="routerLinkActive"
           [ngClass]="forms.isActive ? 'btn-primary' : 'btn-outline-primary'"
           [routerLinkActiveOptions]="{ exact: true }"
           class="navbar-brand btn mx-2"
           routerLink="/forms"
           routerLinkActive="active">Forms</a>
      </nav>
    </header>

    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </div>

  <div class="col-sm"></div>
</div>
