@import './functions';

@mixin set-from-map($map, $key, $prop) {
  @if ($map and map-has-key($map, $key) and $prop) {
    #{ $prop }: map-get($map, $key);
    @content;
  }
}

@mixin helper-classes-by-palette($palette, $class) {
  @each $infix, $map in $palette {
    @each $i, $key in $map {
      @if ($i != contrast) {
        $color: map-get($palette, $i);
        .bg-#{ $class + unquote('-') + $i } {
          background-color: if($color, $color, transparent) !important;
        }
        .border-#{ $class }-#{ $i } {
          border-color: if($color, $color, transparent) !important;
          &.border-top,
          &.border-left,
          &.border-bottom,
          &.border-right {
            border-color: if($color, $color, transparent) !important;
          }
        }
      }
    }
  }
}

@mixin font-face-montserrat() {
  $name: Montserrat;
  $path: '/assets/fonts/#{$name}/#{$name}';
  $range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: 300;
    src: url('#{$path}-Light.eot');
    src: local('#{$name} Light'), local('#{$name}-Light'), url('#{$path}-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$path}-Light.woff2') format('woff2'), url('#{$path}-Light.woff') format('woff');
    unicode-range: $range;
  }
  @font-face {
    font-family: $name;
    font-style: italic;
    font-weight: 300;
    src: url('#{$path}-LightItalic.eot');
    src: local('#{$name} LightItalic'), local('#{$name}-LightItalic'),
      url('#{$path}-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$path}-LightItalic.woff2') format('woff2'), url('#{$path}-LightItalic.woff') format('woff');
    unicode-range: $range;
  }
  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: normal;
    src: url('#{$path}-Regular.eot');
    src: local('#{$name} Regular'), local('#{$name}-Regular'),
      url('#{$path}-Regular.eot?#iefix') format('embedded-opentype'), url('#{$path}-Regular.woff2') format('woff2'),
      url('#{$path}-Regular.woff') format('woff');
    unicode-range: $range;
  }
  @font-face {
    font-family: $name;
    font-style: italic;
    font-weight: normal;
    src: url('#{$path}-Italic.eot');
    src: local('#{$name} Italic'), local('#{$name}-Italic'),
      url('#{$path}-Italic.eot?#iefix') format('embedded-opentype'), url('#{$path}-Italic.woff2') format('woff2'),
      url('#{$path}-Italic.woff') format('woff');
    unicode-range: $range;
  }
  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: bold;
    src: url('#{$path}-SemiBold.eot');
    src: local('#{$name} SemiBold'), local('#{$name}-SemiBold'),
      url('#{$path}-SemiBold.eot?#iefix') format('embedded-opentype'), url('#{$path}-SemiBold.woff2') format('woff2'),
      url('#{$path}-SemiBold.woff') format('woff');
    unicode-range: $range;
  }
  @font-face {
    font-family: $name;
    font-style: italic;
    font-weight: bold;
    src: url('#{$path}-SemiBoldItalic.eot');
    src: local('#{$name} SemiBoldItalic'), local('#{$name}-SemiBoldItalic'),
      url('#{$path}-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$path}-SemiBoldItalic.woff2') format('woff2'), url('#{$path}-SemiBoldItalic.woff') format('woff');
    unicode-range: $range;
  }
}

@mixin min-width($min-width: initial) {
  min-width: $min-width !important;
}

@mixin equal($height: 100%, $width: 100%) {
  height: $height !important;
  width: $width !important;
}

@mixin equal-min($min-height: 100%, $min-width: 100%) {
  min-height: $min-height !important;
  min-width: $min-width !important;
}

@mixin equal-max($max-height: 100%, $max-width: 100%) {
  max-height: $max-height !important;
  max-width: $max-width !important;
}

@mixin router-outlet() {
  @include equal();
  position: relative;
  z-index: 0;
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin translate-x-center() {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

@mixin translate-y-center() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin translate-center() {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin select-none {
  -webkit-touch-callout: none !important;
  user-select: none !important;
  * {
    -webkit-touch-callout: none !important;
    user-select: none !important;
  }
}

// Обрезка текста.
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Добавление псевдо-селекторов.
@mixin pseudo($content: '', $display: block, $pseudo: before) {
  &:#{ $pseudo } {
    content: $content;
    display: $display;
    @content;
  }
}

// Добавление псевдо-селекторов с абсолютным позиционированием (используется в таблицах).
@mixin pseudo-underlayer(
  $content: '',
  $display: block,
  $height: 100%,
  $left: 0,
  $pseudo: before,
  $top: 0,
  $width: 100%,
  $z-index: 0
) {
  position: relative;
  @include pseudo($content, $display, $pseudo) {
    height: $height;
    left: $left;
    position: absolute;
    top: $top;
    width: $width;
    z-index: $z-index;
    @content;
  }
}

/**
 * Составной селектор исключения.
 * По умолчанию добавит правило `:not(:active):not(:hover):not(:focus) {...}`
 * Аргумент - список селекторов (должны быть со строковым типом).
 * Пример: @include not-states(('.foo', '.bar', '[baz="true"]'));
 */
$default-not-states-list: (active, hover, focus) !default;
@mixin not-states($selectors-list: $default-not-states-list) {
  $notSelectors: '';
  @each $selector in $selectors-list {
    @if ($selector == active or $selector == focus or $selector == hover) {
      $state: ':' + $selector;
    }
    $notSelectors: $notSelectors + unquote(':not(#{ $selector })');
  }
  &#{ $notSelectors } {
    @content;
  }
}
